.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 400px;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: var(--card-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -2px var(--shadow-color);
    text-align: center;
    border: 1px solid var(--border-color);
}

.login-header {
    margin-bottom: 2rem;
}

.login-header h1 {
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.875rem;
    margin-bottom: 0.2rem;
}

.login-header p {
    color: rgba(245, 245, 245, 0.688);
    font-size: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input::placeholder {
    color: var(--secondary-color);
}

.form-group input:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(59, 131, 246, 0.489);
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: rgba(25, 141, 12, 0.426);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.125rem;
    transition: background-color 0.3s, transform 0.1s;
    margin-bottom: 0.75rem; /* Espacio entre login y el siguiente botón */

}

.login-button:hover {
    background-color: #bb0919;
}

.login-button:active {
    transform: scale(0.99);
}

.forgot-password {
    margin-top: 1rem;
    font-size: 0.875rem;
}

.forgot-password a {
    color: rgba(245, 245, 245, 0.688);
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 600px) {
    .login-container {
        padding: 2rem 1.5rem;
    }
}